@import "./mixins.scss";

$container-max-width: 1140px;

// breakpoints
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

$sm-max: 575.98px;
$md-max: 767.98px;
$lg-max: 991.98px;
$xl-max: 1199.98px;

// fonts
$reenie-beanie: "Reenie-Beanie";
$karla: "Karla";
$spectral: "Spectral";

$font-size-h1: rem(36);
$font-size-h2: rem(26);
$font-size-h4: rem(20);

$font-size-body-standout: rem(30);
$font-size-body-large: rem(26);
$font-size-body: rem(20);
$font-size-link: rem(18);

// colors
$hermes-primary: #deeaff;
$hermes-secondary: #d5dce7;

$robot-primary: #c4e7e9;
$robot-secondary: #c9dadb;

$tradewell-primary: #dfe3fe;

$standout-color: #606060;
$carousel-background: #f3f3f3;
$carousel-color: #C4C4C4;
$project-link-color: #A3A3A3;
$footer-background-color: #f4f3f3;
