.home {
  .home-greeting {
    margin-bottom: 20px;
  }
  .home-caption-container {
    margin-bottom: 50px;
  }
  .home-caption {
    margin-bottom: 0;
  }
  .home-caption-small {
    p {
      margin-bottom: 0;
    }
  }
}