@import "../../assets//styles/variables.scss";

.home {
  .home-greeting {
    margin-bottom: 20px;
  }
  .home-caption-container {
    margin-bottom: 50px;
  }
  .home-caption {
    font-size: $font-size-36;
    margin-bottom: 0;
  }
  .home-caption-small {
    h4 {
      margin-bottom: 0;
    }
  }
}