@import "../../assets/styles/mixins.scss";

.project-card {
  border-radius: rem(12);
  padding: rem(100);
  margin-bottom: rem(100);
  .project-card-image {
    padding: rem(40);
    img {
      width: 100%;
    }
  }
  .project-card-content {
    padding: 0;
    p {
      margin-bottom: 2rem;
    }
  }
} 