@import "../../assets/styles/variables.scss";

.project-card {
  display: block;
  border-radius: rem(12);
  padding: rem(80);
  margin-bottom: rem(100);
  .row {
    align-items: center;
  }
  .project-card-image {
    text-align: center;
    margin-bottom: rem(40);
    @media (min-width: $lg-min) {
      margin-bottom: 0;
    }
  }
  .project-card-content {
    padding: 0;
    a {
      display: block;
      font-family: $spectral;
      font-size: $font-size-body;
      margin-bottom: rem(47);
    }
    p {
      margin-bottom: 2rem;
    }
    .project-card-content-caption {
      display: block;
      font-size: rem(18);
      font-family: $karla;
    }
  }
} 