@import "../../assets/styles/variables.scss";

.header {
  .navbar {
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
  }
  .navbar-brand {
    a {
      font-family: $reenie-beanie;
      color: #000;
      font-size: $font-size-h1;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .active {
    font-weight: bold;
    border-bottom: rem(2) solid #000;
  }
  .navbar-collapse.show {
    .navbar-nav {
      text-align: center;
      .nav-item,
      a {
        width: 100%;
      }
    }
  }
  .navbar-nav {
    align-items: center;
    @media (min-width: $md-min) {
      a {
        margin-right: 60px;
        &:last-child {
          margin-right: 0;
        };
      }
    }
    .nav-link {
      color: #000;
      padding: 0;
      &:hover {
        color: #000;
      }
    }
  }
  .dropdown-toggle {
    color: #000;
  }
  .dropdown-menu.show {
    display: flex;
    flex-wrap: wrap;
    a {
      width: 100%;
      padding: 8px;
    }
  }
}