@import '../../assets/styles/variables.scss';

.project-hero {
  margin-bottom: rem(200);
  padding: rem(15);
  max-height: rem(1000);
  text-align: center;
  .project-hero-content {
    margin-top: rem(85);
    .project-hero-date {
      margin-bottom: 0;
    }
    .project-hero-title {
      margin: rem(60) 0 rem(16) 0;
    }
    .project-hero-description {
      padding: 0 24%;
    }
  }
  .project-hero-image {
    position: relative;
    bottom: rem(-80);
    img {
      width: 50%;
      margin: 0 auto;
      min-width: rem(250);
      &.hermes {
        max-width: rem(300);
      }
      &.robot {
        max-width: rem(600);
      }
      &.tradwell {

      }
    }
  }
}