@import "./assets/styles/variables.scss";
@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Reenie-Beanie";
  src: url("./assets/fonts/reenie-beanie/ReenieBeanie-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Spectral";
  src: url("./assets/fonts/spectral/Spectral-Regular.ttf") format("truetype");
}

a {
  color: #000;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}

h1,
h2,
h4 {
  margin-top: 0;
}

h1 {
  font-size: $font-size-h1;
  font-family: $spectral;
}

h2 {
  font-size: $font-size-h2;
  font-family: $spectral;
}

h4 {
  font-weight: normal;
  font-size: $font-size-h4;
  font-family: $karla;
}

p {
  font-size: $font-size-body;
  font-family: $karla;
}

a {
  font-size: $font-size-link;
  font-family: $karla;
}

.portfolio {
  display: flex;
  flex-direction: column;
  height: 100%;
  .portfolio-container {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-grow: 1;
  }
  .portfolio-container,
  header,
  footer {
    flex-shrink: 0;
  }
}