@import "../../assets/styles/variables.scss";

.about {
  margin: rem(100) auto;
  .about-images {
    @media (min-width: $md-min) {
      padding: rem(10) rem(40) 0 0;
    }
    .about-image {
      margin-bottom: 2rem;
    }
  }
  .about-content {
    .about-headline {
      margin-bottom: 2rem;
      h1 {
        margin: 0 0 rem(33) 0;
      }
    }
    p {
      margin-bottom: rem(30);
    }
    .fun {
      .fun-headline,
      .fun-list {
        font-family: $reenie-beanie;
        font-size: rem(36);
      }
      .fun-headline {
        margin-bottom: rem(30);
      }
      .fun-list {
        list-style: none;
        padding: 0;
        margin: 0 0 4rem 0;
        .fun-list-item {
          position: relative;
          span {
            display: inline-block;
            width: rem(36);
            margin-right: rem(10);
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .about-contact-link {
    font-size: $font-size-body;
  }
}