@import "../../assets/styles/variables.scss";

.column-images {
  margin-bottom: rem(100);
  .column-images-left,
  .column-images-right {
    margin-bottom: rem(20);
    img {
      height: 100%;
      width: 100%;
    }
  }
  @media (min-width: $md-min) {
    .column-images-right {
      padding-left: 0;
    }
  }
}