@import "../../../assets/styles/variables.scss";

.item {
  padding: rem(25) rem(60);
  margin-bottom: rem(50);
  .carousel-quote-item {
    .carousel-column-left {
      position: relative;
      margin-bottom: rem(40);
      @media (min-width: $md-min) {
        margin-bottom: 0;
      }
      span {
        color: $carousel-color;
        font-size: rem(48);
        font-family: $spectral;
        position: absolute;
        top: rem(-25);
        left: rem(-17);
      }
    }
  }
  .carousel-image-item {
    .description {
      font-size: rem(20);
      margin-bottom: rem(45);
    }
    .carousel-image-item-content-row {
      align-items: center;
      .carousel-column-left {
        margin-bottom: rem(40);
        @media (min-width: $md-min) {
          padding-right: rem(40);
          margin-bottom: 0;
        }
        img {
          width: 100%;
        }
      }
      .carousel-column-right {
        p {
          font-size: rem(36);
          font-family: $spectral;
        }
      }
    }
  }
}