@import "../../assets/styles/variables.scss";

.home {
  margin-top: rem(100);
  .home-greeting {
    margin-bottom: rem(20);
  }
  .home-caption-container {
    margin-bottom: rem(50);
  }
  .home-caption {
    font-size: $font-size-h1;
    margin-bottom: 0;
  }
  .home-caption-small {
    p {
      margin-bottom: 0;
    }
  }
  .project-cards-container {
    margin: rem(100) 0;
    .project-card:last-child {
      margin-bottom: 0;
    }
  }
}